# Azure AI Foundry / OpenAI
AZURE_AI_CONNECTION_STRING="eastus2.api.azureml.ms;4678cfb9-ccc2-48a0-a15c-92fe77d9ed9d;rg-sure;sure"
AZURE_AI_AGENT_ID="asst_jxF6c8rPEyErfVcdTdjcMsvI"

# Monitor / Telemetry
AZURE_MONITOR_CONNECTION_STRING=""

# Identidad (Tenant ID)
AZURE_TENANT_ID="c54cdd2c-6e38-4c7c-8a3a-701741c360a9"

# Azure Speech
AZURE_SPEECH_KEY=""
AZURE_SPEECH_REGION=""

# VLM Opcional / Generativo (Azure OpenAI API pura)
AZURE_OPENAI_ENDPOINT="https://..."
AZURE_OPENAI_API_KEY="..."
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4o"

# Azure Blob Storage (Documentos PDF)
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME="documentos"

# Azure AI Search (Index y Chunks Json)
AZURE_SEARCH_ENDPOINT="https://<tu-servicio>.search.windows.net"
AZURE_SEARCH_ADMIN_KEY=""
AZURE_SEARCH_INDEX_NAME="contracts-index"
